h1{
    color: blue;
    font-family:  'Times New Roman', serif;
    text-align: justify;
}

h3{
    color: brown;
    font-family:  'Times New Roman', serif;
}

img{
    width: 200px;
}

#welcome{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}
